input {
  font-size: 16px !important;
}

.ui.fluid.selection.dropdown {
  font-size: 16px !important;
}

#root {
  height: 100%;
  margin-bottom: 50px;
}

.awsappsync {
  height: 100%;
  padding-top: 50px;
}

.link.item {
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.item {
  text-align: left !important;
}
